<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Template</title>
</head>
<body>
    <div class="container">
        <img class="logo" src="images/AssemblyLift_logo_with_text.png" alt="The AssemblyLift logo"/>
        <p>Hello from <a href="https://assemblylift.akkoro.io">AssemblyLift</a>!</p>
    </div>
</body>
</html>